{% extends 'basic.html' %}

{% block content %}
    <div class="container">
        <h1 class="mb-4">Author details</h1>
        <div class="row">
                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">{{ author.name }}</h5>
                            <p class="card-text">{{ author.bio }}</p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}