{% extends 'basic.html' %}

{% block content %}
    <div class="container">
        <h1 class="mb-4">All authors</h1>
        <div class="row">
            {% for author in authors %}
                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'author_details' author.pk %}">{{ author.name }}</a></h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}