{% extends 'basic.html' %}

{% block content %}
    <div class="container">
        <h1 class="mb-4">category</h1>
        <div class="row">
                <div class="col-12">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">{{ category.label }}</h5>
                            <p class="card-text">{{ category.description }}</p>
                            <h2>posts</h2>
                            <div class="row">
                            <p>{{ category.posts.all }}</p>
                            {% for post in category.posts.all %}
                                <div class="col-12">
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ post.title }}</h5>
                                            <p class="card-text">{{ post.content }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}                           
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}