{% extends 'basic.html' %}

{% block content %}
    <div class="container">
        <h1 class="mb-4">All Categories</h1>
        <div class="row">
            {% for category in categories %}
                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'category_details' category.pk %}">{{ category.label }}</a></h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}